####################################################
# Overrides for salt minion configuration
####################################################
backup_mode: minion
recon_default: 1000
recon_max: 59000
recon_randomize: True
random_reauth_delay: 90
grains_refresh_every: 300
log_level: error
