####################################################
# Overrides for salt minion configuration
####################################################
verify_master_pubkey_sign: True
keysize: 2048
hash_type: sha256
