###########################################
## Overrides for salt master configuration
###########################################
ping_on_rotate: True
hash_type: sha256
keep_jobs: 12
worker_threads: 40
keep_jobs: 5
recon_default: 1000
recon_max: 59000
recon_randomize: True
