###########################################
## Overrides for salt master configuration
###########################################
state_verbose: False
cli_summary: True
failhard: True
log_level: error
